<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head(title = ~{::title}, styles = ~{})">
    <title>Edit List</title>
</head>
<body th:replace="layout :: body(content = ~{::main}, scripts = ~{})">
    <main class="container py-5">
        <h1 th:text="'Edit Book ' + ${book.id}"></h1>

        <form action="#" method="POST" th:object="${book}" th:action="@{/save}" class="mt-4 border rounded p-4 shadow">
            <input type="hidden" id="id" th:field="*{id}" readonly="readonly">
            <div class="mb-3">
                <label for="title_input" class="form-label">Title</label>
                <input type="text" id="title_input" class="form-control" th:field="*{title}">
            </div>
            <div class="mb-3">
                <label for="author_input" class="form-label">Author</label>
                <input type="text" id="author_input" class="form-control" th:field="*{author}">
            </div>
            <div class="mb-3">
                <label for="year_input" class="form-label">Year</label>
                <input type="text" id="year_input" class="form-control" th:field="*{year}">
            </div>
            <div class="mb-3">
                <label for="isbn_input" class="form-label">ISBN</label>
                <input type="text" id="isbn_input" class="form-control" th:field="*{isbn}">
            </div>
            <div class="mb-3">
                <label for="price_input" class="form-label">Price</label>
                <input type="text" id="price_input" class="form-control" th:field="*{price}">
            </div>
            <div class="mb-3">
                <label for="category_input" class="form-label">Category</label>
                <select id="category_input" class="form-select" th:field="*{category.id}">
                    <option th:each="category: ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}"
                            th:selected="${category.id == book.category.id}">
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </main>
</body>
</html>